.incomeInputField {
  background-color:  #a0ecd0;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
}

@media only screen and (min-width: 1920px){
  .incomeInput {
    margin-left: -150px
  }
  }

@media only screen and (min-width: 2560px){
.incomeInput {
  margin-left: -200px
}
}