.orbMoneyAccess  {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color:  #a0ecd0;;
}


.appName{
  color: white;
  font-size: 30px;
  font-weight: 400;
}

.nameAndCurrency {
  display: flex;
  flex-direction: column;
}

.nameAndCurrencyInputField {
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
  background-color:  #a0ecd0;;
  margin-bottom: 5px;
}
.appDescription {
  color: white;
  font-size: 15px;
}

.messages {
  color: white;
  margin-bottom: 5px;
}