.App {
  text-align: center;
}

.App-header {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  overflow:auto;
}



.App-link {
  color: #61dafb;
}

button {
  background-color: #55c2da;
  color: white;
  border: none;
  border-radius: 25px;
  
}

button span {
  padding: 10px;
}

button:hover {
background: #55b4da;
}
