.totalIncomeContainer {
  font-family: "Proxima Nova";
  color: white;
  margin-bottom: -35px;
  padding-top: 50px;
  padding-bottom: 80px;
  background-color: #a0ecd0;
}

.title {
  margin-bottom: -15px;

}

.incomegrp{
  margin-left: -5px
}

.budgetgrp{
  margin-left: 10px
}

